<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.pzhlsm.dao.purchaseandsalemgmtdao.OfficeConsumableDao">

<!--    updateConsumable-->
    <update id="updateConsumable">
        update office_consumables set consumable_name=#{consumableName}, purchase_quantity=#{purchaseQuantity},
                                      create_time=#{createTime}, per_price=#{perPrice}, remark=#{remark}
        where office_consumables_id = #{officeConsumablesId};
    </update>

    <!--    deleteConsumable-->
    <delete id="deleteConsumable">
        delete from office_consumables
        where office_consumables_id = #{consumableId}
    </delete>
    <!--    queryOfficeConsumables-->
    <select id="queryOfficeConsumables" resultType="OfficeConsumable">
        select *
        from office_consumables;
    </select>

<!--    queryById-->
    <select id="queryById" resultType="OfficeConsumable">
        select * from office_consumables
        where office_consumables_id = #{consumableId};
    </select>
    <select id="queryByCondition" resultType="edu.scu.pzhlsm.pojo.purchaseandsalemgmtpojo.OfficeConsumable">
        select * from office_consumables
        <where>
            <if test="consumableName != null and consumableName != ''">
                and consumable_name like concat('%', #{consumableName}, '%')
            </if>
            <if test="consumableTime != null and consumableTime != ''">
                and create_time like concat('%', #{consumableTime}, '%')
            </if>
        </where>
    </select>

    <!--    insertConsumable-->
    <insert id="insertConsumable" useGeneratedKeys="true">
        insert into office_consumables(consumable_name, purchase_quantity, create_time, per_price, remark)
        values (#{consumableName}, #{purchaseQuantity}, #{createTime}, #{perPrice}, #{remark});
    </insert>
</mapper>