<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.pzhlsm.dao.purchaseandsalemgmtdao.OfficeConsumableDao">

<!--    updateConsumable-->
    <update id="updateConsumable">
        update pzhwl.office_consumables set consumable_name=#{consumableName}, purchase_quantity=#{perPrice},
                                      create_time=#{createTime}, per_price=#{perPrice}, remark=#{remark}
        where office_consumables_id = #{officeConsumablesId};
    </update>

    <!--    deleteConsumable-->
    <delete id="deleteConsumable">
        delete from pzhwl.office_consumables
        where office_consumables_id = #{consumableId}
    </delete>
    <!--    queryOfficeConsumables-->
    <select id="queryOfficeConsumables" resultType="OfficeConsumable">
        select *
        from pzhwl.office_consumables;
    </select>

<!--    queryById-->
    <select id="queryById" resultType="OfficeConsumable">
        select * from pzhwl.office_consumables
        where office_consumables_id = #{consumableId};
    </select>

<!--    insertConsumable-->
    <insert id="insertConsumable" useGeneratedKeys="true">
        insert into pzhwl.office_consumables(consumable_name, purchase_quantity, create_time, per_price, remark)
        values (#{consumableName}, #{purchaseQuantity}, #{createTime}, #{perPrice}, #{remark});
    </insert>
</mapper>