<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.pzhlsm.dao.basicinfomgmtdao.StaffDao">
    <insert id="insertStaff" useGeneratedKeys="true">
        insert into staff(staff_id, staff_number, staff_name, gender, staff_age, staff_role, staff_time, salary, phone, staff_address, card_number)
        values (null, #{staffNumber}, #{staffName}, #{gender}, #{staffAge}, #{staffRole}, #{staffTime}, #{salary}, #{phone}, #{staffAddress}, #{cardNumber})
    </insert>

    <update id="updateStaff">
        update staff set
                               staff_number=#{staffNumber},
                               staff_name=#{staffName},
                               gender=#{gender},
                               staff_age=#{staffAge},
                               staff_role=#{staffRole},
                               staff_time=#{staffTime},
                               salary=#{salary},
                               phone=#{phone},
                               staff_address=#{staffAddress},
                               card_number=#{cardNumber}
        where staff_id=#{staffId}
    </update>
    <delete id="deleteStaff">
        delete from staff
        where staff_id=#{staffId}
    </delete>

    <select id="queryAllList" resultType="edu.scu.pzhlsm.pojo.basicinfomgmtpojo.Staff">
        select * from staff;
    </select>

    <select id="queryById" resultType="edu.scu.pzhlsm.pojo.basicinfomgmtpojo.Staff">
        select * from pzhlsm.staff
        where staff_id = #{staffId};
    </select>
    <select id="queryByCondition" resultType="edu.scu.pzhlsm.pojo.basicinfomgmtpojo.Staff">
        select *
        from staff
        <where>
            <if test="staffName != null and staffName != ''">
                and staff_name like concat('%', #{staffName}, '%')
            </if>
            <if test="staffNumber != null and staffNumber != ''">
                and staff_number like concat('%', #{staffNumber}, '%')
            </if>
        </where>;
    </select>
</mapper>